<html>
    <head>
        <title>Failed</title>
    </head>
    <body>
        <h2>Something ran wrong, can't sign up</h2>
        <p>click <a href="/signup">here</a> to try again</p>
    </body>
</html>